<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>To-do Lists</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="split-in-half">
      <div class="split-child">
        <div id="personal-list" class="header-personal">
          <h2>Personal To-Do List</h2>
          <form action="/submit-personal" method="POST">
            <input type="text" name="taskName" placeholder="Task..." />
            <input class="addBtn" type="submit" value="Add" />
          </form>
        </div>

        <ul id="myUL">
          <% if (locals.tasksPersonal) { %> <% for(let i = 0; i <
          tasksPersonal.length; i++) {%>
          <li><%= tasksPersonal[i]%></li>
          <% }%> <% }%>
        </ul>
      </div>

      <div class="split-child">
        <div id="work-list" class="header-work">
          <h2>Work To-Do List</h2>
          <form action="/submit-work" method="POST">
            <input type="text" name="taskName" placeholder="Task..." />
            <input class="addBtn" type="submit" value="Add" />
          </form>
        </div>

        <ul id="myUL">
          <% if (locals.tasksWork) { %> <% for(let i = 0; i < tasksWork.length;
          i++) {%>
          <li>
            <%= tasksWork[i]%>
            <form action="/removetask" method="POST">
              <button class="close">Remove</button>
            </form>
          </li>
          <% }%> <% }%>
        </ul>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
